body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("https://img2.thejournal.ie/article/3947305/river?version=3948177&width=1340") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	color:red;
}
button {
	background-color: red;
	border-color: white;
	text-decoration-color: white;
	padding:1rem 1rem;
	border-radius: 100px;
}
button:hover{
	border-width:3px;
}
hr {
	border-color:red;
	border-width:3px;
	max-width:10%;
}
